/* front admin page css */
#head_line #logo {float: left;padding: 10px 10px 20px 0px}
#head_line h2 {font-size: 22px; float:left;margin-top: 20px;}
#banners_page {font-size: 12px; font-weight: bold; width: 940px; color: #333}
#banners_page a,#settings-container a{font-size: 12px; font-weight: bold; color: #333; text-decoration: none; cursor: pointer }

#banners_page table {clear: both; border: none; border-collapse: collapse } 
#banners_page thead{	background: url('../img/head-line.jpg') repeat-x; color: #d2d2d2; text-shadow: 0 1px 0 black }
#banners_page thead tr td{height: 29px; line-height: 27px; border-bottom: none }
#banners_page tr td:first-child {padding-left: 10px }
#banners_page tr td{border-bottom: 1px solid #d2d2d2; height: 36px }
#banners_page .grid_B_1{width: 70px }
#banners_page .grid_B_2{width: 160px }
#banners_page .grid_B_3{width: 275px }

#banners_page .pink {background-color: #fffbf9 }

#banners_page .edit_but, 
#banners_page .copy_but,
#banners_page .delete_but,
#banners_page .click,
#banners_page .view_but    {padding-left: 25px;text-transform: capitalize }

#banners_page .edit_but 	  {background: url('../img/ico_edit.jpg') no-repeat; margin-left: 10px }
#banners_page .copy_but 	  {background: url('../img/ico_delete.jpg') no-repeat; margin-left: 10px }
#banners_page .delete_but {background: url('../img/ico_copy.jpg') no-repeat; margin-left: 10px }
#banners_page .click		  {background: url('../img/ico_click.jpg') no-repeat }
#banners_page .view_but 	  {background: url('../img/ico_view.jpg') no-repeat }

#banners_page .add_banner {
	float: right;
	margin-top: 15px;
	background: url('../img/button_action-big.jpg') repeat-x;
	padding: 11px 20px;
	border-radius: 5px;
	border: 1px solid #fe6825;
	color: white;
	text-transform: uppercase;
	text-shadow: 0px 1px 1px #962e00
}
/* end front admin page css */
/* start settings page css  */
.entry-header {color: white; font-size: 16px; clear: both; background: url('../img/head-line-settings.jpg') repeat-x; margin: 0; line-height: 55px; padding-left: 25px; text-transform: uppercase;width: 1222px }
.clear {clear: both }
.banner_block_drag {position:absolute!important;top: 0px;left: 0px }
.drop_active {box-shadow: 0px 0px 4px red }
.left {float: left }
.right {float: right }
#settings-container {
	border: 1px solid black;
	float: left;
	width: 1200px;
	background-color: #f1f1f1;
	border: 1px solid #d1d1d1;
	border-top: none;
	padding: 20px 0 45px 45px
}
/* reset */
#settings-container #banner_working_board h1,
#settings-container #banner_working_board h2,
#settings-container #banner_working_board h3,
#settings-container #banner_working_board h4,
#settings-container #banner_working_board h5,
#settings-container #banner_working_board h6,
#settings-container #banner_working_board p,
#settings-container #banner_working_board span,
#settings-container #banner_working_board b,
#settings-container #banner_working_board img {margin: 0;padding: 0 }

#settings-container h3 {font-size: 18px; margin:10px 0 0 0;color: #3e3e3e }
#settings-container h4 {font-size: 13px;margin:8px 0;color: #615e5d }
#settings-container label {display: block; font-size: 14px; color: #a0a0a0;margin: 5px 0; cursor: default }
#settings-container input[type="text"] {width: 435px; height: 30px; border-radius: 0; border: 1px solid #d1d1d1 }
#settings-container input[type="text"].small_in {width: 160px }
/* coordination */
#settings-container #coordination span {display: block;float:left }
#settings-container #coordination #coordnt_start {background: url('../img/coordination.jpg') no-repeat;height: 16px;width: 16px }
#settings-container #coordination #coordnt_x {background: url('../img/line-x.jpg') repeat-x;height: 16px;float: none; margin-left: 16px;width: 701px }
#settings-container #coordination #coordnt_y {background: url('../img/line-y.jpg') repeat-y;width: 16px;height: 351px }
#settings-container #coordination #banner_working_board {
	border: 1px solid black;
	margin: 0 0 0 16px;
	border-left: 0 none; 
	border-top: 0 none;
	margin-bottom: 20px;
	width: 700px;
	height: 350px;
	background-color: #888;
	position: relative 
}
/* coordination */
#settings-container .action_button,
#settings-container .action_button_big,
#settings-container .grey_button,
#settings-container .grey_button_big {text-transform: uppercase;border-radius: 5px;display: inline-block }

#settings-container .action_button	    {padding: 5px  20px; color: white;   border: 1px solid #fe6825; text-shadow: 0px 1px 1px #962e00; background: url('../img/button_action.jpg') repeat-x }
#settings-container .action_button_big {padding: 11px 20px; color: white;   border: 1px solid #fe6825; text-shadow: 0px 1px 1px #962e00; background: url('../img/button_action-big.jpg') repeat-x }
#settings-container .grey_button 	    {padding: 5px  20px; color: #7b7b7c; border: 1px solid #d1d1d1; text-shadow: 0px 1px 1px white;   background: url('../img/button_grey.jpg') repeat-x; margin-left: 12px } 
#settings-container .grey_button_big     {padding: 11px 20px; color: #7b7b7c; border: 1px solid #d1d1d1; text-shadow: 0px 1px 1px white;   background: url('../img/button_grey_big.jpg') repeat-x; margin-left: 12px }

#settings-container #settings-area {	width: 900px; float:left }
#settings-container #settings-area .setting_block {width: 450px; float:left }

#settings-container #settings-area .title-layers,
#settings-container #settings-area .title-parameters {background: url('../img/head-line.jpg') repeat-x;color: #d2d2d2; text-shadow: 0 1px 0 black;font-size: 12px;font-weight: bold;height: 29px;width: 402px }

#settings-container #settings-area .title-layers span,
#settings-container #settings-area .title-parameters span {line-height: 29px; margin: 0 10px }

#settings-container #settings-area #layer-param {float: left }
#settings-container #settings-area #layer-param,
#settings-container #settings-area #layers-order{width: 400px;background-color: #edf7fa;min-height: 575px;border: 1px solid #d2d2d2 }
#settings-container #settings-area #layers-order #layers-order-list {	margin:0;padding:0 }

#settings-container #settings-area #layers-order #layers-order-list .slide{
	height: 25px;
    line-height: 25px;
    padding: 0 10px;
    width: 380px;
	background: url('../img/slide_fon.png') repeat-x;
	border-bottom: 1px solid #b6b6b6;
	margin: 0 
}
#settings-container #settings-area #layers-order #layers-order-list .slide .layer_counter {font-size: 13px;color: #424242 }
#settings-container #settings-area #layers-order #layers-order-list .slide .show_hode {float: right;background: url('../img/show-hide.png') no-repeat;width: 16px; height: 10px; margin-top: 8px }
#settings-container #settings-area #layers-order #layers-order-list .slide  .show_hidden {background-position: 0px -10px }
#settings-container #settings-area #layers-order #layers-order-list .slide .banner_parameters{display: none }
#settings-container #settings-area #layers-order #layers-order-list .slide:hover{background: url('../img/slide_hover.jpg') repeat-x }
#settings-container #settings-area #layers-order #layers-order-list .slide.active_slide{background: url('../img/slide_active.jpg') repeat-x }

#settings-container #settings-area #layer-param  label{
	width: 330px;
	display:block;
	margin: 10px 0 0 25px;
	line-height: 25px;
	color: #333;
	font-size: 12px;
	clear: both;
	float: left
}
#settings-container #settings-area #layer-param #btext_layer textarea{width: 250px; margin-top: 5px; height: 100px; resize: none; float: right }
#settings-container #settings-area #layer-param  label input[type="text"],
#settings-container #settings-area #layer-param  label select 	{float: right;	width: 200px }

#settings-container #settings-area #layer-param #css_area {line-height: 1 }
#settings-container #settings-area #layer-param #css_area a {float: right;margin: 0 }
#settings-container #settings-area #layer-param #css_area select{width: 149px;	margin-left: 20px; margin-right: 8px; float: right }

#settings-container .setting_block #banner_add_image ,
#settings-container .setting_block #banner_add_text ,
#settings-container .setting_block #banner_del_layer {
	background: url('../img/config_button.jpg') repeat-x;
	padding: 5px 13px 5px 8px;
	display: inline-block;
	border: 1px solid #d1d1d1;
	border-radius: 5px;
	margin: 8px 10px 0 0;
	text-shadow: 0px 1px 1px white
}
#settings-container .setting_block #banner_del_layer {color: #ff0008 }
#settings-container .setting_block img{float: left;margin-right: 8px }
#settings-container 	#bottom_save_area {float: left;width: 854px; margin-top: 30px }
#settings-container 	#bottom_save_area a{float: right }
/* end settings page css  */